Repository nrk9819/ghost-theme-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, prettier --write

.lintstagedrc:

{
    "assets/ts/*": ["biome check --apply", "prettier --write"],
    "**/*.hbs": "prettier --write",
}

refactor: rename output css file to screen
  assets/build/index.js
  assets/build/index.js.map
  assets/build/styles.css
  assets/build/styles.css.map
  assets/ts/index.ts
  default.hbs
  postcss.config.mjs
Due: biome check --apply, prettier --write

refactor: modify package.json, default and post templates
  .prettierrc
  assets/build/screen.css
  assets/build/screen.css.map
  default.hbs
  package.json
  pnpm-lock.yaml
  post.hbs
  utils/functions/read-json.mjs
  utils/scripts/create-zip.mjs
  utils/utils.d.ts
Due: prettier --write

refactor: use typescript instead of js
  .lintstagedrc
  assets/build/screen.css
  assets/build/screen.css.map
  biome.json
  default.hbs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  postcss.config.ts
  tailwind.config.mjs
  tailwind.config.ts
  tsconfig.json
  utils/functions/compile-css.mjs
  utils/functions/compile-css.ts
  utils/functions/read-json.mjs
  utils/functions/read-json.ts
  utils/scripts/create-zip.ts
  utils/scripts/esbuild.build.mjs
  utils/scripts/esbuild.build.ts
  utils/scripts/postcss.build.mjs
  utils/scripts/postcss.build.ts
  utils/scripts/watchfiles.mjs
  utils/scripts/watchfiles.ts
  utils/utils.d.ts
Due: prettier --write

refactor: move lint-staged config to package.json
  .lintstagedrc
  package.json
Due: none

refactor: drop ts-node and use tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat: add live reloading
  .gitignore
  assets/build/index.js
  assets/build/screen.css
  default.hbs
  index.hbs
  utils/functions/compile-css.ts
  utils/scripts/http-server.ts
  utils/scripts/watchfiles.ts
Due: prettier --write
